// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* IMPORT BOOTSTRAP */
@import "bootstrap-sprockets";
@import "bootstrap";

/* VARIABLES */

/* Colors */
$spaces_blue : rgb(115,210,226);
$spaces_green: rgb(25,232,141);

/* Sizes */
$header_height : 90px;
$footer_height : 30px;


html, body {
	height: 100%;
}

body {
	margin:0px;
	font-family:"Lato";
}

/* GENERAL FORMATTING */
.popup textarea{
	resize:none;
}

/* LOGIN */
.login {
	height: 100%;
	background-color: rgb(202, 202, 202);
	.center_pane {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		padding-top: 255px;
		font-family: 'Lato';
		font-size: 24px;
		.signinButton {
			margin-top: 10px;
		}
	}
}

/* HEADER */

.header {
	height:90px;
	background: black;
	font-family: "lato";
	color:white;
	text-align: center;
	.logo_1 {
		font-size: 47px;
		top: -2px;
		font-weight: 100;
		position: relative;
	}
	.logo_2 {
		color: $spaces_blue;
		font-size: 60PX;
		font-weight: 900;
		text-transform: uppercase;
	}
}

#logo_full {
	padding-top: 3px;
	margin-left:-200px;
	left:50%;
	position:relative;
	float:left;
}

.upper_right {
	float:right;
	padding:5px;
    cursor: pointer;
    height: inherit;
    img {
		height:85%;
		margin-top: 5px;
	}
	#profile {
		margin-right:20px;
	}
}

/* LEFT SECTION */ 

.body_table {
	height:calc(100% - (#{$header_height} + #{$footer_height}));
	border-spacing: 0px;
	.row {
		height: 100%;
	}
}

.left_panel {
	min-width: 350px;
	padding: 0px;
	height: 100%;
}

.left_section {
	height:calc(50% - 30px);
	position:relative;
	overflow:auto;
}

.section_header {
	height:30px;
	min-height: 25px;
	position:relative;
	text-align: center;
	div {
		position: relative;
		top: 6%;
		font-weight: 300;
		font-size: 21px;
	}
	&.skills, .skills .ticket_box  {
		background-color: $spaces_green;
	}
	&.all, .all .ticket_box {
		background-color: $spaces_blue;
	}
}

.ticket_box {
	height:100%;
	cursor:pointer;
	background: #EDFDFF;
	border-bottom: 1px solid lightgray;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
	&:hover {
		background: #fff;
	}
	.profilepic_small {
		height: 60px;
		border-radius:30px;
		margin-top: 20px;
	}
	.ticket_icon {
		height: 33px;
		margin-top:30px;
	}
	.profile_container {
		text-align: center;
		.ticket_name {
			width: 100%;
			margin-bottom: 5px;
		}
	}
	
	.ticket_description {
		margin-top: 20px;
	}
	.num_comments {
		color: rgb(91,91,91);
		text-align: center;
		position: relative;
		top: -27px;
	}
}

/* RIGHT SECTION */
.right_panel {
	background: image-url("background.jpg");
	height: 100%;
}

.right_panel_fixed_height {
	overflow:auto;
}

#right_panel_content {
	text-align: center;
	position: relative;
	width:80%;
	margin: 30px auto 40px auto;
	border-radius:25px;
	background:rgba(255,255,255,.75);
	padding:15px 10px 7px 10px;
	transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}
#right_panel_content:hover {
	background:rgba(255,255,255,1);
}

/* FOOTER */
.footer {
	background-color:black;
	height:30px;
	text-align: center;
	padding:6px;
	font-family: "Lato";

	a {
		color: white;
		text-decoration: none;
		font-weight:300;
	}
	a:hover {
		text-decoration: underline;
	}
}

/* ADD POST MODAL */
#addPostPopup {
    margin: 4px 7px;
    text-align:center;
	#post_short {
		width: 85%;
		height: 50px;
		border-radius: 5px;
		&:focus {
			outline: none;
		}
	}
	#post_long {
		width: 85%;
		height: 100px;
		border-radius: 5px;
		&:focus {
			outline:none;
		}
	}
	textarea {
		-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
		border: 1px solid #d0d0d0;
		padding: 8px 8px;
	}
}

/* PROFILE MODAL */
#profilePopup {
	text-align: center;
	#signinButton {
		display: none;
	}
	.profileImage {
		height: 100px;
		border-radius: 50px;
	}
	.modal-footer {
		font-size: 18px;
		#logout {
			float: right;
			cursor: pointer;
		}
	}
}





