@import application/colors

/* HEADER */
.header 
	height: 90px
	background: black
	font-family: "lato"
	color: white
	text-align: center
	.logo_1 
		font-size: 47px
		top: -2px
		font-weight: 100
		position: relative
	
	.logo_2 
		color: $spaces_blue
		font-size: 60PX
		font-weight: 900
		text-transform: uppercase

#logo_full 
	padding-top: 3px
	margin-left: -200px
	left: 50%
	position: relative
	float: left

.upper_right 
	float: right
	padding: 5px
	cursor: pointer
	height: inherit
	img 
		height: 85%
		margin-top: 5px
		&.profile
			border-radius: 50%
			border: 2px solid white
			padding: 5px