@import application/sizes
@import application/colors

/* LEFT SECTION */ 
.body_table 
	height: calc(100% - (#{$header_height} + #{$footer_height}))
	border-spacing: 0px
	.row 
		height: 100%
	
.left_panel 
	min-width: 350px
	padding: 0px !important
	height: 100%

.left_section 
	height: calc(50% - 30px)
	position: relative
	overflow: auto

.section_header 
	height: 30px
	min-height: 25px
	position: relative
	text-align: center
	div 
		position: relative
		top: 6%
		font-weight: 300
		font-size: 21px
	
	&.skills, .skills .ticket_box  
		background-color: $spaces_green
	
	&.all, .all .ticket_box 
		background-color: $spaces_blue

.ticket_box 
	height: 100%
	cursor: pointer
	background: #EDFDFF
	border-bottom: 1px solid lightgray
	transition: background .25s ease-in-out
	-moz-transition: background .25s ease-in-out
	-webkit-transition: background .25s ease-in-out
	&:hover 
		background: #fff
	
	a 
		color: inherit
		text-decoration: inherit
	
	.profilepic_small 
		height: 60px
		border-radius: 30px
		margin-top: 20px
	
	.ticket_icon 
		float: right
		margin-right: 5px
		img 
			height: 27px
			margin-top: 30px
			&.follow
				display: none
				&.active
					display: inline
		
		&.follow img
			height: 20px
			margin-top: 34px
	
	.profile_container 
		text-align: center
		.ticket_name 
			width: 100%
			margin-bottom: 5px

	.ticket_description 
		margin-top: 20px
		padding-right: 5px
		.description 
			overflow: hidden

	.num_comments 
		color: rgb(91,91,91)
		top: 0px
		position: absolute
		margin-top: 33px
		margin-left: 9px
