// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body 
	height: 100%

body 
	margin: 0px
	font-family: "Lato" !important


/* GENERAL FORMATTING */
textarea
	resize: none

.username_link
	cursor: pointer
	&:hover
		text-decoration: underline
	&.user_tag
		background: rgb(207, 215, 229)
		border-radius: 4px

.tags 
	color: gray
	.tag_link
		&:hover 
			text-decoration: underline

.ticket_icon 
	float: right
	margin-right: 5px
	img 
		height: 27px
		&.follow
			display: none
			&.active
				display: inline
	
	&.follow img
		height: 20px

	.num_comments 
		top: 0px
		margin-left: 9px

img.link
	width: 25px
	position: absolute
	right: 20px