@import application

/* RIGHT SECTION */
.main_panel
	@extend .col-md-8 
	background: image-url("background.jpg")
	height: 100%
	&.shrunk
		@extend .col-md-6

.main_panel_fixed_height 
	height: 100%
	overflow: auto
	.back_link
		margin: 30px
		font-size: 18px
		a
			color: black

.main_panel_content 
	text-align: center
	margin: 30px auto 30px auto
	width: 95%
	border-radius: 25px
	background: rgba(255,255,255,.75)
	padding: 15px 10px 7px 10px
	transition: background .25s ease-in-out
	-moz-transition: background .25s ease-in-out
	-webkit-transition: background .25s ease-in-out
	.container 
		width: 100%
		padding: 25px

		.external_link
			text-align: right
			img
				width: 25px
				margin-top: -35px
			
		.profile_container 
			img 
				width: 80px
				border-radius: 40px
			
			.ticket_name 
				font-size: 16px
				margin-top: 8px
		
		.short 
			margin-top: 24px
			font-size: 22px
			border-bottom: 1px solid lightgray
			padding-bottom: 10px
		
		.tags 
			margin-top: 10px
				
		.timestamp 
			margin-top: 5px
		
		.email_container 
			a 
				text-decoration: none
				color: black
				img 	
					width: 30px
				
		.follow_container 
			cursor:pointer
			margin-top: 10px
			img 
				width: 30px
				&.following
					display: inherit
				&.follow
					display : none
			&.following
				img.following
					display: none
				img.follow
					display: inherit
			a 
				text-decoration: none
				color: black
		
		.long 
			padding: 20px
			margin: 30px 45px 30px 45px
			text-align: left
			border: 1px solid lightgray
			border-radius: 10px
		
		.num_comments 
			color: gray
			margin-bottom: 5px
		
		.comments 
			.comment 
				width: 90%
				height: inherit
				margin: auto
				border-radius: 8px
				margin-bottom: 8px
				text-align: left
				.row 
					padding-top: 5px
					.comment_user_container 
						text-align: center
						.user_image
							width: 50px
							border-radius: 25px
					.attachment_container
						float: left
						max-width: 200px
						.thumbnail	
							margin-bottom: 7px
					.comment_text
						float: left
						padding-bottom: 10px
						width: 100%
			form		
				padding-top: 20px
				margin-top: 20px
				border-top: 1px solid lightgray
				.text_area_container
					width: 90%
					margin: auto
					.textoverlay
						text-align: left
						span
							border-radius: 4px
					.testing
						width: 86%
						float: left
						textarea
							border-radius: 9px
							padding: 15px
					.thumbnail
						width: 13%
						float: left
						position: relative
						margin: 0px 0px 0px 1%
						#image_preview
							width: 100%
							background-repeat: round
							background-image: image_url("attachment.png")
							&.original
								background-size: 50%
								background-position: 50%
								background-repeat: no-repeat
								
						#image_preview:before
							content: ""
							display: block
							padding-top: 100%

				input[type=submit] 
					margin-top: 10px
				input[type=file]
					position: absolute
					top: 0
					right: 0
					width: 100%
					min-height: 100%
					opacity: 0
					outline: none
					cursor: pointer
					display: block

#main_panel_content:hover 
	background: rgba(255,255,255,1)