// Place all the styles related to the spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body 
	height: 100%

body 
	margin: 0px
	font-family: "Lato" !important


/* GENERAL FORMATTING */
.popup textarea
	resize: none

.username_link
	cursor: pointer
	&:hover
		text-decoration: underline
	&.user_tag
		background: rgb(207, 215, 229)
		border-radius: 4px

.tags 
	color: gray
	.tag_link
		&:hover 
			text-decoration: underline