@import application/sizes

html, body
	height: 100%

body 
	margin: 0px
	font-family: "Gotham-Light" !important
	padding-top: $header_height

/* GENERAL FORMATTING */
.body_area
	position: absolute
	width: 100%
	height: calc(100% - #{$header_height})

a
	i.fa
		color: black

textarea
	resize: none

.username_link
	cursor: pointer
